# set the env vars like this without spaces in between the equal sign
# do it on an .env file, which is not saved to git or the created image


# var1=example_variable <-- do not do this on this file, DO NOT SAVE HERE THE VALUES
JWT=
QUIZ_ID=